{% extends "base_generic.html" %}

{% block content %}

<!--List of all antiques across the site. Card styling as per index.html-->
<h2 class="antique-list-heading">Catalogue of antiques and collectables</h2>

{% if antique_list %}
<ul>

  <div class="container">
    <div class="row">
      {% for Antique in antique_list %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card card-styling">
          <div class="card-body">
            <a href="{{ Antique.get_absolute_url }}"><img class="antique-image-styling" src="{{ Antique.AntiqueImage }}"
                alt="{{ Antique.AntiqueName }}"></a>
            <h5 class="card-title text-truncate">{{ Antique.AntiqueName }}</h5>
            <h6 class="text-muted">{{Antique.Creator}}</h6>
            <h6 class="text-muted">£{{Antique.Price}}</h6>
            <a href="{{ Antique.get_absolute_url }}" class="btn btn-info more-info-button btn-block">More info</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</ul>

<!--Code for if no antiques are found-->
{% else %}
<h3 style="text-align: center">There are no antiques to see here. Please go back and try another search.</h3>
{% endif %}

{% endblock %}