{% extends "base_generic.html" %}

{% block content %}

<h1 class="antique-list-heading">Catalogue of creators</h1>
<div class="container">
  <div class="row">
    {% if creator_list %}
    {% for Creator in creator_list %}
    <div class="col-sm-4">
      <div class="card card-styling">
        <div class="card-body">
          <h4 class="card-title creator-list-styling">
            {{ Creator.CreatorName }} <br />
            <br /><a href="{{ Creator.get_absolute_url }}" class="btn btn-info more-info-button btn-block">See
              collection</a>
          </h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% else %}
<p>There are no creators or collections to see here.</p>
{% endif %}
{% endblock %}