{% extends 'base_generic.html' %}
{% load bootstrap_tags %}
{% block content %}


<form id="paymentForm" action="{% url 'charge' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | as_bootstrap }}
   <div id="disabled-pay">
       <button class="btn-default" disabled>Pay with card</button>
   </div>
    <div id="pay-button">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_wVnqiAuvtJjIgZzbgIEM3vYi00LRtER6Dy"
        data-description="In with the old payment"
        data-amount="{{ sale.antique.price_in_pence }}"
        data-currency="gbp">
    </script>
    </div>
    </div>
    
</form>
{% endblock %}
