{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated %}
Hello {{ user.username }}
<p><a href="{% url 'logout'%}?next={{request.path}}" class="btn btn-info" role="button">Logout</a></p>
{% else %}
<a href="{% url 'login' %}?next={{request.path}}" class="btn btn-info" role="button">Login</a>
{% endif %}



<h1>In with the old</h1>
<h3>The home of quality antiques and collectables</h3>
<p>In with the old has the following record counts:</p>
<ul>
  <li>Antiques: {{ numAntiques }}</li>
  <li>Creators: {{ numCreators }}</li>
</ul>


  <p>You have visited this homepage a total of {{ numVisits }}{% if numVisits == 1 %} time{% else %} times{% endif %}.
  </p>

  {% for Antique in allAntiques %}
      <li>
        <a href="{{ Antique.get_absolute_url }}">{{ Antique.AntiqueName }}</a> ({{Antique.Creator}})
      </li>
    {% endfor %}

  {% endblock %}