{% extends "base_generic.html" %}

{% block content %}
{% if user.is_authenticated %}
<h1>Hello {{ user.username }}</h1>
{% endif %}



<h1>In with the old</h1>
<h3>The home of quality antiques and collectables</h3>

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
  </form>



<p>In with the old has the following record counts:</p>
<ul>
  <li>Antiques: {{ numAntiques }}</li>
  <li>Creators: {{ numCreators }}</li>
</ul>


  <p>You have visited this homepage a total of {{ numVisits }}{% if numVisits == 1 %} time{% else %} times{% endif %}.
  </p>

  {% for Antique in allAntiques %}
      <li>
        <a href="{{ Antique.get_absolute_url }}">{{ Antique.AntiqueName }}</a> ({{Antique.Creator}})
      </li>
    {% endfor %}

  {% endblock %}